body {
  background-color: lightgray;
  /*preventing the usage of the bottom left to right scroll wheel*/
  overflow-x: hidden;
}
h1 {
  color: grey;
 
}
/*header*/
header{
  position: absolute;
  left:0;
  right:0;
  margin: 1em;
}

*{
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

img {
  max-width: 100% height auto;
}

.logo {
  color: black;
  font-size: 35px;
  font-family: Times "Times New Roman", Times, serif;
  padding-left: 45px;
  float: center;
}
.container {
  width: 95%;
  max-width: 50em;
  margin: 0 auto;
}
nav a {
  font-weight: 900;
  text-decoration: none;
  padding: 0.5em;
  text-transform: upprcase;
  color: #000;
  font-size: 0.8rem;
}
@media (min-width: 60rem) {
  .logo {
    float: left;
  }
  nav {
    float: right;
  }
}
/* Home settings*/
@media (min-width: 60rem) {
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}

.home-hero {
  background-image: url(https://images.unsplash.com/photo-1473116763249-2faaef81ccda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1196&q=80);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
  padding: 14em 0;
  color: #000;
}
/*portfolio items*/

/*port items*/
.port-item-1{
  margin: 0;
  position: relative;
  color: aquamarine;
  width: 100vw;
  position: absolute;
  right:580px;
}
.port-item-2{
  margin: 0;
  position: relative;
  color: aquamarine;
  width: 100vw;
  position: absolute;
 left:580px;
}
.port-item-3{
  margin: 0;
  position: relative;
  color: aquamarine;
  width: 100vw;
  position: absolute;
 left:580px;
}
.port-item-4{
  margin: 0;
  position: relative;
  color: aquamarine;
  width: 100vw;
  position: absolute;
 left:580px;
}
.port-item img {
  display: block;
  color:rgb(0, 0, 0);
  margin:auto;
  max-width: 100%;
}
.port-desc {
  position:absolute;
  z-index: 100;
  margin: auto;
  max-width: 49%;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: black;
  background: rgba(153, 142, 142, 0.6);
  padding-bottom: 2em;
 
}
.port-desc p {
  margin: .2em;

}
@media (min-width:37rem){
  .port-item {
    width: 50%;
    float: right;
  }
  }
  @media (min-width: 60rem) {
    .port-item {
      width: 33.3333334%;
      overflow: hidden;
    }
  }