body {
  background-color: lightgray;
}
h1 {
  color: grey;
 
}
/*header*/
header{
  position: absolute;
  left:0;
  right:0;
  margin: 1em;
}

*{
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

img {
  max-width: 100% height auto;
}

.logo {
  color: black;
  font-size: 35px;
  font-family: Times "Times New Roman", Times, serif;
  padding-left: 45px;
  float: center;
}
.container {
  width: 95%;
  max-width: 50em;
  margin: 0 auto;
}
nav a {
  font-weight: 900;
  text-decoration: none;
  padding: 0.5em;
  text-transform: upprcase;
  color: #000;
  font-size: 0.8rem;
}
@media (min-width: 60rem) {
  .logo {
    float: left;
  }
  nav {
    float: right;
  }
}
@media (min-width: 60rem) {
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}

.home-hero {
  background-image: url(https://images.unsplash.com/photo-1473116763249-2faaef81ccda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1196&q=80);
  background-size: cover;
  background-position: center;
  padding: 14em 0;
  color: #000;
}
